* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#main {
    display: flex;
    flex-direction: row;
    height: 99vh;
}

#barraLateral {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#imgNome {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    align-items: center;
}

#imgNome img {
    border-radius: 100%;
    height: 70%;
    width: 50%;
    padding: 10px;
}

label {
    padding: 10px 0px ;
}

#info {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    margin: 10px 0px;
}

#info a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 30px;
}

#info a:hover {
    background-color: red;
}

#sair {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column-reverse;
    font-size: 22px;
}

#sair a {
    text-decoration: none;
    color: black;
    height: 5vh;
    display: flex;
    align-items: center;
}

#sair a:hover {
    background-color: red;
}

#telaDeInformacao {
    width: 75%;
    height: 100%;
    display: flex;

}

#informacoes {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 30px ;
}

#informacoes  input{
    height: 44px;
    border: 1px solid black;
    font-size: 20px;
}

#nomeCompleto {
    display: flex;
}

#nomeCompleto div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#segundoNome {
    margin: 0px 0px 0px 10px;
}

#informacoes button {
    margin: 10px 0px 0px 0px;
    height: 10vh;
    font-size: 20px;
    background-color: rgb(13, 228, 13);
}

#imagem {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#imagem img {
    width: 500px;
    height: 50%;
    margin: 50px 100px;
}